<!-- depicts features recipes -->


  <section class="homeView" ng-controller="homeViewCtrl">

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
       <h1><span class="headline">Dinner Party<span></h1>
       <p class="feature-desc">Impress your friends with these quick and easy dishes!</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
     </div>
   </div>

   <div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div ng-repeat="recipe in featured.matches" class="col-md-4">
         <a ui-sref="recipe" ng-click="showRecipe(recipe.id)"><img ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
         <h2>{{recipe.recipeName}}</h2>
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         <p><a class="btn btn-default" href="#" role="button">View recipe &raquo;</a></p>
       </div>

     </div>
   <hr>
 </div>
</section>
