<!-- depicts features recipes -->

<div class="container" ng-controller="homeViewCtrl">
<!--   <form ng-required="required" class="form-inline pull-xs-right" novalidate ng-submit="send()">
    <input ng-required="required" class="form-control" type="text" placeholder="Search" ng-model="query">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form> -->
  <h1> Featured recipes:</h1>
    {{query}}
  <section class="featuredRecipes">
    <!-- an image or a slider? -->
    <figure ng-repeat="recipe in featured.matches">
      <a ng-href="#"><img ng-src={{recipe.imageUrlsBySize["90"]}}></a>
      <figcaption>{{recipe.recipeName}}</figcaption>
    </figure>
  </section>


    <section class="featuredRecipes">
    <!-- an image or a slider? -->
    <figure ng-repeat="recipe in data.matches">
      <a ng-href="#"><img ng-src={{recipe.imageUrlsBySize["90"]}}></a>
      <figcaption>{{recipe.recipeName}}</figcaption>
    </figure>
  </section>
</div>