

<!-- <div ng-controller="search.ctrl">

  <h1> Results recipes:</h1>
  <section class="featuredRecipes"> -->
<!--     an image or a slider?
 -->
 <!-- <figure ng-repeat="recipe in list"> -->

      <!-- <a  ui-sref="recipe" ng-click="showRecipe(recipe.id)"><img ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
      <figcaption>{{recipe.recipeName}}</figcaption>
    </figure>
  </section>
</div>  -->

<!-- Page Content -->
<div class="container-fluid">


<!-- Projects Row -->
<div class="row">
  <div ng-repeat="recipe in list" class="col-md-4">
    <a  ui-sref="recipe" ng-click="showRecipe(recipe.id)"><img ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
    <h3>
      <a href="#">{{recipe.recipeName}}</a>
    </h3>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> -->
  </div>
</div>
<!-- /.row -->


<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </ul>
  </div>
</div>
<!-- /.row -->
<hr>
