<section id='myRecipe' class='container' ng-controller="RecipeViewCtrl">
    <div class="container">
      <h1><span class="recipename">{{recipeName}}<span></h1>
        <img class="center" src={{recipeImage}}>
    </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Ingredients</h2>
            <div class="ingredients" ng-repeat="item in recipeIngredients track by $index">
              {{item}}
            </div>
            <a href={{recipeLink}} target="blank">Click Here for Instructions</a>
          </div>
        </div>
        <hr>
      </div>
</section>
