<div id='myRecipe' class='container'>
  <div ng-controller="RecipeViewCtrl">
    <div class="col-md-12">
      <h1>{{recipeName}}</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src={{recipeImage}}>
      </div>
      <div class="col-md-4">
        <h2>What You'll Need:</h2>
        <div ng-repeat="item in recipeIngredients track by $index">
          {{item}}
        </div>
      </div>
    <div class="col-md-4">
      <h2>For Preparation Steps</h2>
      <a href={{recipeLink}} target="blank">Click Here</a>
    </div>
  </div>
</div>