<!-- <!DOCTYPE html>
<html ng-app='recipeView'>
<head>
</head>
<body> -->
<!-- Below is where the doc actually begins the rest of the html is for testing -->

<div id='myRecipe' class='container'>
  <div ng-controller="RecipeViewCtrl">
    <div class="col-md-12">
      <h1>{{recipeName}}</h1>
    </div>
      <div class="col-md-4">
        <img src={{recipeImage}}>
      </div>
      <div class="col-md-4">
        <h2>What To Gather:</h2>
        <div ng-repeat="item in recipeIngredients">
          {{item}}
        </div>
      </div>
    <div class="col-md-4">
      <h2>Preparation</h2>
      <div>{{recipeInstructions}}</div>
  </div>
</div>

<!-- End of Document -->


<!-- <script src="feastly/node_modules/angular/angular.js"></script>
<script src='recipeController.js'></script>
<script src="recipeResultsExample.js"></script>
</body>
</html> -->